<div class="beer-item col col-sm-4 p-4">
    <figure>
        <img src="{{ this.image_url }}" class="img-fluid" />
    </figure>
    <div class="content">
        <h3>
            {{this.name}}<br />
            <small>{{this.tagline}}</small>
        </h3>

        <p>
            {{this.description}}
        </p>
    </div>
</div>
