<div class="container text-center py-5">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <figure class="mb-5">
                <img src="/images/beer.png" alt="" class="img-fluid" />
            </figure>
        </div>
    </div>

    <p>
        <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    </p>

    <p>
      <a class="btn btn-primary" href="/random-beers">Check a Random Beer!</a>
    </p>
</div>